In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
df = pd.DataFrame()
for filename in os.listdir("../CSV/Mei 2022/"):
    if(filename == "sentiment_dataset_unlabelled.csv" or filename == "sentiment_dataset_labelled.csv"):
        continue

    df_temp = pd.read_csv("../CSV/Mei 2022/" + filename)
    df = df.append(df_temp)

df = df.sort_values(by=["Brand"]).reset_index(drop=True)

In [3]:
print("Brand yang menggunakan nama lain di berita:\n-----------------------------------------------")
for i in range (len(df)):
    title = df["Title"][i]
    brand = df["Brand"][i]

    if brand.lower() not in title.lower():
        print(str(i) + ". " + title + " - " + brand)

Brand yang menggunakan nama lain di berita:
-----------------------------------------------
496. Ducati dan VW Sepakat Merakit Lokal di Argentina - Volkswagen

In [4]:
print("Brand yang tidak ada berita sama sekali:\n-----------------------------------------------")
brands = ["Audi", "BMW", "Chery", "Chevrolet", "Chrysler", "Daihatsu", "Datsun", "Ford", "Foton", "Hino", "Honda", "Hummer", "Hyundai", "Isuzu", "Jaguar", "Jeep", "Kia", "Land Rover", "Lexus", "Mazda", "Mercedes", "Mitsubishi", "Nissan", "Opel", "Peugeot", "Proton", "Renault", "SSangyong", "Subaru", "Suzuki", "Toyota", "UD Trucks", "Volkswagen", "Volvo", "Wuling", "Yamaha"]

for brand in brands:
    if brand not in df["Brand"].tolist():
        print(brand)

Brand yang tidak ada berita sama sekali:
-----------------------------------------------
Chrysler
Hummer
Jaguar
Kia
Opel
Proton
SSangyong
UD Trucks

In [5]:
date = "Mei 2022"

df.to_csv(f"../CSV/{date}/sentiment_dataset_unlabelled.csv")
df

                                                 Title   Brand
0                  Audi Siapkan Mobil Q5 Generasi Baru    Audi
1                Akhirnya! BMW M4 CSL 2023 Telah Rilis     BMW
2    Begini Penampakan Mobil SUV Terbaru yang Menja...     BMW
3    BMW Resmi Meluncurkan Mobil dengan Penyegaran ...     BMW
4    BMW Astra Ajak Konsumennya Menjajal Sirkuit Se...     BMW
..                                                 ...     ...
547  Antisipasi Ketikung Tim Lain, Fabio Quartararo...  Yamaha
548  Semua Model Bisa, Segini Biaya Remap ECU Yamah...  Yamaha
549  Bos Dorna Sport Pastikan, Yamaha Punya Tim Sat...  Yamaha
550  Enggak Cuma Mobil, Yamaha Indonesia Juga Kena ...  Yamaha
551  Mobil Pesaing Fortuner Meluncur, dan Bocoran M...  Yamaha

[552 rows x 2 columns]